.VacationList {
    margin: 0 auto;
    width: 90%;
}

.VacationList > a > .AddVacationButton {
    position: absolute;
    right: 30px;
    top: 100px;
}

.isFollowingButton > label {
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav > ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    bottom: 0;
}