.Chart-Background{
    width: 100%;
    height: 100%;
    /* background-image: url("../../../Assets/Images/Backgrounds/Home-Background.png");
    background-repeat: no-repeat;
    background-size: cover; */
  }